<small class="footer-copy">
  &copy; 20X6 Sai K. Inc...I Have Laywers
</small>

<ul class="footer-links group">
  <% if (currentUser.isSignedIn()) {%>
    <li><a href="/#/users/<%= currentUser.id %>">Home</a></li>
  <% } %>
	<li><a href="#">About</a></li>
  <li><a href="#">Privacy(jk it's a myth)</a></li>
</ul>