    <nav class="header-nav group">
      <% if (Songstorm.currentUser.isSignedIn()) {%>
        <% user_home = "/#/users/"+Songstorm.currentUser.id %>
        <h1 class="header-logo">
          <a href=<%= user_home %>>Songstorm</a>
        </h1>
      <%} else {%>
        <% non_user_home = "#" %>
        <h1 class="header-logo">
          <a href=<%= non_user_home %>>Songstorm</a>
        </h1>
      <% } %>
        <h1 class="header-logo"><a href="#/search">Explore</a></h1>

     

      <ul class="header-list group">
        <li>
            <a id="upld-song">Upload</a>
          </li>
        <% if (Songstorm.currentUser.isSignedIn()) {%>

          
          <li>
            <a href="#/users/<%= currentUserId%>/likes">Favorites</a>
          </li>

          <li>
            <a href="#/users/<%=Songstorm.currentUser.id%>">Home</a>
          </li>
          <li>
            <a id="sign-out-link">Sign Out</a>
          </li>
        <%} else {%>
          <li>
            <a id="nav-sign-in">Sign In</a>
          </li>
          <li>
            <a id="nav-sign-up">Sign Up</a>
          </li>
        <% } %>

      </ul>
    </nav>