<!-- <header id="site-header">
    <nav class="group" id="navbar">
      <ul class="nav-grp nav-lt group">
        <li>Songstorm</li>
        <li>Explore</li>
      </ul>
      <ul class="nav-grp nav-rt group">
        <li>Upload</li>
        <li>Sign Up</li>
        <li>Sign In</li>
      </ul>
    </nav>
  </header> -->

    <nav class="header-nav group">
      <% if (Songstorm.currentUser.isSignedIn()) {%>
        <% user_home = "/#/users/"+Songstorm.currentUser.id %>
        <h1 class="header-logo">
          <a href=<%= user_home %>>Songstorm</a>
        </h1>
      <%} else {%>
        <% non_user_home = "/#/session/new" %>
        <h1 class="header-logo">
          <a href=<%= non_user_home %>>Songstorm</a>
        </h1>
      <% } %>
        <h1 class="header-logo"><a href="#/search">Explore</a></h1>

     

      <ul class="header-list group">
        <li>
            <a id="upld-song">Upload</a>
          </li>
        <% if (Songstorm.currentUser.isSignedIn()) {%>
          <!-- <li>
            <form class="search-bar">
              <input type="text" class="query" placeholder="Search songs, artists, albums" value="">
              <input type="submit" class="search">
            </form>
          </li> -->
          
          <li>
            <a href="#/users/<%= currentUserId%>/likes">Favorites</a>
          </li>
         <!--  <li>
            <a href="#/songs/new">Upload</a>
          </li> -->
          <li>
            <a href="#/users/<%=Songstorm.currentUser.id%>">Home</a>
          </li>
          <li>
            <a id="sign-out-link">Sign Out</a>
          </li>
        <%} else {%>
          <li>
            <a id="nav-sign-in">Sign In</a>
          </li>
          <li>
            <a href="#/users/new">Sign Up</a>
          </li>
        <% } %>

      </ul>
    </nav>