<div class="player-wrapper group">
	<div class="stopped">Now Playing: </div>
<div class="current-song">
</div>
<div class="player-btns">
	<button class="stopped" id="previous-song">prev</button>
	<button class="stopped" id="next-song">next</button>
</div>

</div>
<audio class="stopped" src="" controls></audio>