<!-- <div class="content-main group" id="likes-main">
	<section class="playlists-section" id="likes-section">
		<h1 class="likes-title">Songs You Like</h1>
		<%likes.forEach(function(like){ %>
			<div class="liked-song">
				<img class="song-thumb" src="<%= like.escape("song_image") %>" width="100" alt="">
				<h1><a class="create" href="#/songs/<%=like.escape('song_id')%>"><%= like.escape('song_artist')%> - <%= like.escape('song_title')%></a></h1>
			</div>
		<%}) %>
	</section>
</div> -->


		<section class="song-item" id="user-likes">
			<h1 id="fav-header">Songs you like:</h1>

		</section>