<section class="landing-sign-in" id="sign-up">
<h2 class="sign-in-header">Sign Up</h2>

<form class="user-sign-in" enctype="multipart/form-data">
  <label>
      <strong>Username:</strong>
      <input type="text" name="user[username]" value="<%= user.escape("username") %>">
    </label>

    <label>
      <strong>Password:</strong>
      <input type="password" name="user[password]" value="<%= user.escape("password") %>">
    </label>

    <label>
      <strong>Image:</strong>
      <input type="file" name="user[image]" id="input-post-image">
    </label>

  


</form>

<span class="sign-in-button">Sign Up</span>

</section>
