<h2>Sign Up</h2>

<form enctype="multipart/form-data">

  <label>
    Username
    <input type="text" name="user[username]"
           value="<%= user.escape("username") %>">
  </label>

  <br>

  <label>
    Password
    <input type="password" name="user[password]"
           value="<%= user.escape("password") %>">
  </label>

  <label class="image-label">
  <span>Image</span>
  <input type="file" name="user[image]" id="input-post-image">
  <br>

  <button class="sign-up">Create Account</button>

</form>