<div class="img-item" style="background-image: url(<%=like.escape('song_image')%>)">
	<div class="song-modal lndg-sample">
		<h1><%= like.escape('song_artist')%> - <%= like.escape('song_title')%></h1>
		<span class="play-btn">
			<i class="fa fa-play" data-song-id="<%= like.id %>"></i>
		</span>
	</div>
</div>