<% username = user.escape("username") %>

<div class="content-main group">
	<section class="page-left">


		<section class="user-blurb">
			<img class="user-propic" src="<%= user.get("image_url") %>" width="100" alt="">
			<h1 class="hello_user"> <%= username %>'s Show page </h1>
		</section>


		<section class="user-playlists">
			<h3> <%= username %>'s Playlists: </h3>
			<ul class="user-playlist-list">
			 	<li>
			 		<div class="song-thumb"></div>
			 		<a href="#">Playlist</a>
			 		<span class="delete-playlist">Delete Playlist</span>
			 	</li>
			 	<li>
			 		<div class="song-thumb"></div>
			 		<a href="#">Playlist</a>
			 		<span class="delete-playlist">Delete Playlist</span>
			 	</li>
			 	<li>
			 		<div class="song-thumb"></div>
			 		<a href="#">Playlist</a>
			 		<span class="delete-playlist">Delete Playlist</span>
			 	</li>
			</ul>
		</section>
	</section>

	<section class="page-center">
		<section class="user-songs">
			<h3> <%= username %>'s Songs: </h3>
			<ul class="user-song-list">
					<li>
						<div class="song-thumb"></div>
						<i class="fa fa-play"></i>
						<a href="#">Song</a>
						<span class="waveform">BLAHBLAHBLAH Waveform</span>
						<span class="delete-button">Delete Song</span>
					</li>
					<li>
						<div class="song-thumb"></div>
						<i class="fa fa-play"></i>
						<a href="#">Song</a>
						<span class="waveform">BLAHBLAHBLAH Waveform</span>
						<span class="delete-button">Delete Song</span>
					</li>
					<li>
						<div class="song-thumb"></div>
						<i class="fa fa-play"></i>
						<a href="#">Song</a>
						<span class="waveform">BLAHBLAHBLAH Waveform</span>
						<span class="delete-button">Delete Song</span>
					</li>
			</ul>
		</section>

	</section>

	<section class="page-right">
		<section>
			<h3>Followers</h3>
			<ul class="followers">
				<li class="follower">Follower A</li>
				<li class="follower">Follower A</li>
				<li class="follower">Follower A</li>
				<li class="follower">Follower A</li>
			</ul>
		</section>
		<section>
			<h3>Totals</h3>
			<ul class="totals">
				<li class="total">Total A</li>
				<li class="total">Total A</li>
				<li class="total">Total A</li>
			</ul>
		</section>
	</section>
</div>



<!-- <div class="content-main">

	

	<div class="user_songs">


		

	</div>


	<br>

	<div class="user-playlists">

	</div>
</div> -->

<!-- <a href="/#/playlists/new">Create Playlist</a> -->
