<% username = user.escape("username") %>
<h1> <%= username %>'s Show page </h1>

<br>

<h3> <%= username %>'s Songs: </h3>
<ul>
  Songs:
</ul>

<br>

<h3> <%= username %>'s Playlists: </h3>
<ul>
  Playlists:
</ul>
