<li>
	<img class="song-thumb" src="<%= playlist.escape("image_url") %>" width="100" alt="">
	<a href="#/playlists/<%= playlist.id %>" class="create"><%=playlist.escape("name")  %></a>
	<%if (parseInt(Songstorm.currentUser.id) === parseInt(userShow.id)) {%>
		<span class="delete-playlist" data-id="<%= playlist.id %>" data-collection="playlists">Delete Playlist</span>
	<%}%>
</li>