<%= render "layouts/errors" %>

<form action="<%= users_url %>" method="post" enctype="multipart/form-data">
  <%= auth_token_input %>
  <label>
    Username
    <input type="text" name="user[username]" value="">
  </label>

  <label>
    Password
    <input type="password" name="user[password]" value="">
  </label>

  <label>
  Image
  <input type="file" name="user[image]" id="input-post-image">
</label>


  <input type="submit" value="Sign Up">
</form>
