<h1 class="song-form-title">Create/Edit A Playlist!</h1>
<ul class="song-form-list">
<li>
	<label>
	  <span>Name</span>
	<input type="text" name="playlist[name]" value="<%= playlist.escape("name") %>"><br>
	</label>
</li>

<li>
	<input type="file" name="playlist[image]" id="input-post-image">
</li>

</ul>

<button class="submit_form">Submit</button>
