<h1>Create/Edit A Playlist!</h1>

<label>
  <span>Name</span>
<input type="text" name="playlist[name]" value="<%= playlist.escape("name") %>"><br>
</label>

<input type="file" name="playlist[image]" id="input-post-image">

<button class="submit_form">Submit</button>
