<h2>This is a <strong>PLAYLIST</strong> show page test</h2>
<br>
<h1><%= playlist.escape("name") %></h1>
<br>

<h2>Playlist songs:</h2>
<ul>
	<% playlist.songs().each(function (song) { %>
		<li> <%=song.escape("title")  %> </li>
	<% }) %>  
</ul>
<a href="#/playlists/<%= playlist.id %>/edit">Edit Playlist</a>
