<h1 class="song-form-title">Create/Edit A Song!</h1>

<ul class="song-form-list">
<li>
	<label>
	  <span>Title:</span>
	<input type="text" name="title" value="<%= song.escape("title") %>"><br>
	</label>
</li>
<li>
	<label>
	  <span>Artist:</span>
	<input type="text" name="artist" value="<%= song.escape("artist") %>"><br>
	</label>
</li>
<li>
	<label>
	  <span>Album:</span>
	<input type="text" name="album" value="<%= song.escape("album") %>"><br>
	</label>
</li>
<li>
	<label>Song file:
		<input type="file" name="song[audio]" id="add_audio_file">
	</label>
</li>
<li>
	<label>Song image(optional):<input type="file" name="song[image]" id="input-post-image">
	</label>
</li>

</ul>

<button class="submit_form">Submit</button>

<!-- <div class="spinner"></div> -->