<h1>Create/Edit A Song!</h1>
<label>
  <span>Title</span>
<input type="text" name="title" value="<%= song.escape("title") %>"><br>
</label>

<label>
  <span>Artist</span>
<input type="text" name="artist" value="<%= song.escape("artist") %>"><br>
</label>

<label>
  <span>Album</span>
<input type="text" name="album" value="<%= song.escape("album") %>"><br>
</label>


<input type="file" name="song[audio]" id="add_audio_file">

<button class="submit_form">Submit</button>
