<div class="content-main group" id="song-main">

	<section class="page-left" id="song-page-left">
	
		<section class="song-show">
			<div class="song-stuff group">
				<div class="song-img"></div>
					<ul class="song-info">
						<li id="song-title">Song Title</li>
						<li>Artist</li>
						<li>Album</li>
					</ul>
					<span class="waveform" id="show-waveform">BLAHBLAH WAVEFORM</span>
			</div>

			<div class="song-widgets-tab">
				<ul class="song-widgets">
					<li>Like</li>
					<li>Edit</li>
					<li>Delete</li>
				</ul>
			</div>
			
		</section>


		<section class="comments-section">

				<form class="comments-form group">
				  <input type="hidden" class="song_id" name="song_id" value="<%= song.id %>">
			    <textarea class="comment-body" name="body" placeholder="comment here"></textarea>
				  <!-- <input class="add-comment" type="submit" value="Submit Comment"> -->
				  <span class="comment-submit">Submit</span>
				</form>

				<ul class="comments-display">
					<li class="comment">
						<div class="song-thumb"></div>
						<h1>
							<a href="#">Username</a>
						</h1>
						<h2>
							Lorem Ipsum Commentum
						</h2>
						<span class="delete-comment">DELETE</span>
					</li>

	<!-- 				<li class="comment">
						<div class="song-thumb"></div>
						<h1>
							<a href="#">Username</a>
						</h1>
						<h2>
							PearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPearPear
						</h2>
						<span class="delete-comment">DELETE</span>
					</li> -->

					<li class="comment">
						<div class="song-thumb"></div>
						<h1>
							<a href="#">Username</a>
						</h1>
						<h2>
							Lorem Ipsum CommentumLorem Ipsum CommentumLorem Ipsum CommentumLorem Ipsum CommentumLorem Ipsum CommentumLorem Ipsum CommentumLorem Ipsum CommentumLorem Ipsum CommentumLorem Ipsum CommentumLorem Ipsum CommentumLorem Ipsum CommentumLorem Ipsum CommentumLorem Ipsum CommentumLorem Ipsum CommentumLorem Ipsum CommentumLorem Ipsum CommentumLorem Ipsum CommentumLorem Ipsum CommentumLorem Ipsum CommentumLorem Ipsum CommentumLorem Ipsum CommentumLorem Ipsum CommentumLorem Ipsum CommentumLorem Ipsum CommentumLorem Ipsum CommentumLorem Ipsum CommentumLorem Ipsum CommentumLorem Ipsum CommentumLorem Ipsum CommentumLorem Ipsum CommentumLorem Ipsum CommentumLorem Ipsum CommentumLorem Ipsum CommentumLorem Ipsum CommentumLorem Ipsum CommentumLorem Ipsum CommentumLorem Ipsum CommentumLorem Ipsum CommentumLorem Ipsum CommentumLorem Ipsum CommentumLorem Ipsum CommentumLorem Ipsum CommentumLorem Ipsum CommentumLorem Ipsum CommentumLorem Ipsum CommentumLorem Ipsum CommentumLorem Ipsum Commentum
						</h2>
						<span class="delete-comment">DELETE</span>
					</li>
				</ul>

		</section>
	</section>

	<section class="page-right" id="song-page-left">

		<section class="playlists-section">
			<form class="playlist-form">
				<input type="hidden" name="" value="">
				<span>Add To Playlist</span>
					<select id="playlist-song-playlist-id">
							<option>Playlist</option>
							<option>Playlist</option>
							<option>Playlist</option>
							<option>Playlist</option>
							<option>Playlist</option>
							<option>Playlist</option>
					</select>
			</form>
		</section>

		<section class="playlists-section">
			<h2>Playlists With This Song</h2>
			<ul class="songs-playlists">
				<li class="playlist-li">
					<div class="song-thumb"></div>
					<h1>
				    <a href="#">Playlist</a>
					</h1>
					<h2>
				    By: <a href="#">Playlist Uploader</a>
					</h2>
				</li>
				<li class="playlist-li">
					<div class="song-thumb"></div>
					<h1>
				    <a href="#">Playlist</a>
					</h1>
					<h2>
				    By: <a href="#">Playlist Uploader</a>
					</h2>
				</li>
				<li class="playlist-li">
					<div class="song-thumb"></div>
					<h1>
				    <a href="#">Playlist</a>
					</h1>
					<h2>
				    By: <a href="#">Playlist Uploader</a>
					</h2>
				</li>
			</ul>
		</section>
	</section>

</div>




