<h3>This is a <strong>SONG</strong> show page test</h1>
<br>
<h3><%= song.escape("title") %></h3>
<h3><%= song.escape("artist") %></h3>
<h3><%= song.escape("album") %></h3>
<br>
<a href="#/songs/<%= song.id %>/edit">Edit Song</a>
