<span class="close-modal-header group">
	<h1>Songstorm</h1>
	<span class="close-btn">&times;</span>
</span>
<h1 class="form-welcome">Create a playlist</h1>
<form class="modal-form" enctype="multipart/form-data">
	<div class="input-wrapper">
		<label>Title<span>*</span>: </label>
		<input name="playlist[name]" type="text"><br>
		<label>Playlist Image: </label>
		<input name="playlist[image]" type="file" class="file-upld" id="file-img">
	</div>
</form>

<div class="submit">
	<span class="submit-btn site-btn" id="create-pl">Create Playlist</span>
</div>
<h1 id="req-field">*required field</h1>