<span class="close-modal-header group">
	<h1>Songstorm</h1>
	<span class="close-btn">&times;</span>
</span>
<h1 class="form-welcome">Welcome to Songstorm!</h1>
<form class="modal-form">
	<div class="input-wrapper">
		<label>Username<span>*</span>: </label>
		<input type="text" name="user[username]" value=""><br>
		<label>Password<span>*</span>: </label>
		<input type="password" name="user[password]" value="">
	</div>
</form>

<div class="submit">
	<span class="submit-btn site-btn" id="user-sign-in">Sign in</span>
	<span class="submit-btn or-guest">Or</span>
	<span class="submit-btn site-btn" id="guest-btn">Sign in as guest</span>
</div>



<h1 id="req-field">*required field</h1>