<header id="header" class="header"></header>
<div class="group" id="content"></div>
<div id="global-player"></div>
<section class="modal-wrapper closed" id="sign-in-modal">
		<div class="close-modal"></div>
		<div class="form-wrapper">
			<h1 class="notice"></h1>
		</div>
	</section>
<!-- <footer id="footer" class="footer group"></footer> -->