.footer {
  /*background: #8e44ad;*/
  background: #000000;
  width: 100%;
  color: #fff;
  /*position: fixed;*/
  display: block;
  bottom: 0px;
}

.footer-copy {
  padding: 15px 20px;
  float: left;
}

.footer-links {
  padding: 15px 20px;
  float: right;
}

.footer-links > li {
  float: left;
  padding: 0 0 0 20px;
}
