.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
  background: #0c6;
  color: #000;
  border: 1px solid #0c6;
}

.footer-copy {
  padding: 10px;
  float: left;
}

.footer-links {
  float: right;
}

.footer-links > li {
  float: left;
  padding: 10px;
}
