#input-post-image{
  /*// color: transparent;
  // margin-right: 5%;*/
  margin-left: 40%;
  margin-bottom: 40px;
}

#song-form {
  width: 400px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.song-form-title {
  font-size: 20px;
  font-weight: bold;
}

.song-form-list {
}

.song-form-list > * {
  margin: 10px 0 5px 0;
}


#playlist-form {
  width: 400px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.users-form > h1 {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

#add_audio_file {
  margin-bottom: 20px;
}

/*.spinner {
  background-image: url("spinner.gif");
  height: 50px;
  width: 50px;
}*/