#lndg-welcome {
	background-image: url("https://s3.amazonaws.com/songstorm-pics/seeds/images/concert3.jpg");
	background-repeat: no-repeat;
	background-size: cover;

	width: 100%;
	height: 560px;
}

.landing-wrapper {
	margin-top: -2px;
}


/*Landing image styles*/


#welcome {
	padding: 155px 0 0 0;
}

#welcome > h1, #welcome > div {
	margin: auto;

	font-family: "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
	letter-spacing: 1px;
	text-align: center;

	color: #fff;
	text-shadow: 2px 2px 2px #000;
}

.lndg-h1 {
	max-width: 630px;
	
	font-size: 43px;
}

.lndg-h2 {
	max-width: 330px;

	font-size: 20px;
}

.lndg-explore-btn-wrapper {
	width: 300px;
	padding: 40px 0;
}

.site-btn {
	transition: 0.35s;
	background-image: linear-gradient(#6889BD, #385B91);

	padding: 10px 25px;

	border: 1px solid #4581DB;
	border-radius: 4px;

	letter-spacing: 1px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.67);
	font-size: 15px;
	color: #fff;
}

.site-btn:hover {
	transition: 0.3s;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

/*...
Sample Song
...*/

#lndg-img {
	float: left;
	height: 250px;
	width: 250px;
	margin: 0;
}

#lndg-item > h1 {
  float: right;
  color: #fff;
  background: #000;
  text-align: center;
}

#featr-sg {
  text-align: center;
  font-size: 26px;
	margin: 20px auto 5px auto;
  width: 606px;
  opacity: 0.8;
  border-top: 1px solid #ccc;
}

#sample-li {
	width: 750px;
	margin: auto;
	
	font-size: 30px;
}

#sample-li-img, #sample-play {
	height: 60px;
	width: 60px;
}

#sample-play-icon {
	padding: 16px 0px 0px 6px;
}

#lndg-item {
  padding: 35px 80px 35px 40px;
  width: 650px;
  margin: auto;
  margin-bottom: 20px;
  background-image: linear-gradient(#6161A3, #3B3B6C);
  box-sizing: border-box;
}

.song-item {
	width: 100%;

	margin-top: 20px;
	padding-left: 8px;
	box-sizing: border-box;

	background: #E2E2E2;
}

.img-item {
	background-size: 100% 100%;

	display: inline-block;
	margin: 23px;
	margin-bottom: 0px;
	height: 196px;
	width: 196px;

}

.fave-title {
	width: 200px;
	margin: auto;
}

.song-modal {
	display: none;
	height: 100%;
	width: 100%;
	float: left;
	padding-top: 61px;
	text-align: center;

	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
}

#faves-play-btn {
	margin: 25px 0 0 0px;
}

.fave-container {
	float: left;
	text-align: center;
}



.play-btn {
	height: 80px;
	width: 80px;

	display: block;
	margin: auto;

	text-align: center;
	font-size: 35px;
	color: #000;
	background: #fff;

	padding: 11% 0 0 3%;
	box-sizing: border-box;
	border-radius: 50%;
}

.play-btn:hover {
	cursor: pointer;
}

.lndg-sample > h1 {
	display: block;
	width: 75%;
	height: 86px;

	margin: auto;
	margin-bottom: -40px;
	padding: 26px 0 0 0;

	text-align: center;
	font-size: 15px;
	letter-spacing: 1.75px;

}

.sign-in-button, .sign-in-guest, .explore-button {
	padding: 20px;
	background: #000;
	color: #fff;
	border-radius: 10px;
}

.sign-in-button:hover, .sign-in-guest:hover, .explore-button:hover {
	color: #000;
	background: #fff;
	box-shadow: 2px 2px 2px;
	cursor: pointer;
}

.landing-sign-in > span {
	display: block;
	width: 106px;
	margin: auto;
	text-align: center;
	margin-bottom: 20px
}

#sign-up-wrapper {
	padding: 0 33%;
}

#sign-up {
	width: 450px;
}

.preview-song {
	padding: 25px;
	margin: 20px auto 0px auto;
	border-radius: 10px;
	border: 2px solid #000;
	background: #931A84;
}

.preview-details {
	display: inline-block;
}

.preview-details > * {
	font-size: 15px;
	margin-bottom: 5px;
}

#preview-title {
	font-size: 35px;
}

#preview-play {
	font-size: 50px;
	margin-left: 10px;
}

#preview-play:hover {
	color: #fff;
	cursor: pointer;
}

#preview-image {
	float: left;
	width: 120px;
	height: 120px;
	margin-right: 20px;
	display: inline-block;
	border: 5px solid #000;
	border-radius: 10px;
}

#landing-header {
	display: block;
	width: 335px;
	margin: auto;
	font-weight: bold;
	text-align: center;
	font-size: 45px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #000;
	border-radius: 0;
}

.explore-button {
	display: block;
	text-align: center;
	width: 100px;
	margin: auto;
}

.preview-explore-header {
	width: 200px;
	display: block;
	text-align: center;
	margin: 20px auto 10px auto;
}

.preview-explore {
	padding: 5px;
	padding-bottom: 20px;
	width: 300px;
	margin: 20px auto 0px auto;
	border-radius: 10px;
	border: 2px solid #000;
	background: #931A84;
}

.site-header {
	display: block;
	color: #920DA8;
	width: 300px;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	margin: 0 auto 15px auto;
}