#likes-section {
	padding: 20px;
	float: none;
	margin: auto;
	width: 800px;
}

.liked-song {
	display: inline-block;
	text-align: center;
	height: 150px;
	width: 150px;
	padding: 20px;
}

.liked-song > .song-thumb {
	height: 100px;
	width: 100px;
}

.liked-song > h1 {
	padding-top: 20px;
}