.closed {
	display: none;
}

.close-modal {
	height: 100%;
	width: 100%;
}

.modal-wrapper {
	font-family: "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;

	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 900;


	background: rgba(0, 0, 0, 0.67);

	/*transition: 1s;*/
}

.close-modal-header {
	display: block;
	margin-bottom: 20px;
	padding-right: 15px;

  background: #2c3e50;

	color: #fff;
	font-size: 25px;
	font-weight: 800;
	text-align: right;
}

.close-btn {
	cursor: pointer;
	float: right;
}

.close-modal-header > h1 {
	float: left;
  padding-left: 14px;
  padding-top: 5px;
  letter-spacing: 1px;
  font-size: 17px;
}

.form-welcome {
	display: block;
	width: 275px;
	margin: auto;
	padding-bottom: 5px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;

	text-align: center;
}

.loading-bar {
	font-size: 40px;
	text-align: center;
}

.loading-notice {
	display: inline;
	font-size: 24px;
}

/*...
Modal Form
...*/

.form-wrapper {
	width: 25%;
	background: #fff;
	padding-bottom: 20px;
	border-radius: 4px;

	position: absolute;
	z-index: 1000;
	top: 50%;
	left: 50%;

	margin-left: -250px;
	transform: translateY(-48%);
}

.input-wrapper {
	display: block;
	width: 75%;
	text-align: right;
}

.input-wrapper > * {
	margin: 10px 0;
}

.input-wrapper > input {
	border-radius: 2px;
}

/*Buttons*/

.submit {
	width: 50%;
	margin: auto;

}

.submit-btn {
	display: block;
	width: 65px;
	margin: 5px auto;

	text-align: center;
	cursor: pointer;
}

.or-guest {
	margin-top: 10px;
	margin-bottom: 10px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;

	color: #000;
	letter-spacing: 1px;
	opacity: 0.9;

	cursor: auto;
}

#guest-btn {
	width: 132px;
}

.file-upld {
	width: 174px;
}

#req-field {
	text-align: right;
  padding: 10px 10px 0 0;

  font-size: 14px;
  letter-spacing: 1px;
  color: #EA0F28;
}

.input-wrapper > label > span {
	color: #EA0F28;
}

#create-pl, #add-pl {
	width: 121px;
}

#add-pl-wrapper {
  width: 50%;
  text-align: center;
  margin: auto;
}

.notice {
	text-align: center;
	margin-top: 5px;
}

.notice-error {
	color: #EA0F28;
}

.notice-success {
	color: #580B77;
}