.playlists ul > li {
  text-align: left;
  margin-bottom: 20px;
}

.content-main.playlists {
 	padding: 0 30% 0 30%;
 	text-align: center;
}

.content-main.playlists > h2 {
	margin-bottom: 20px;
}

#playlist-header {
	padding: 0 40% 20px 40%;
}

#playlist-songs {
	padding: 30px;
	height: 300px;
	background: #8e44ad;
  border: 3px solid #8e44ad;
  box-shadow: 2px 2px 2px;
}

.list-song {
	margin-right: 10px;
}

.playlist-title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  border-bottom: 1px solid #000;
  /*padding-bottom: 20px;*/
}
