#song-list-display {
  padding: 30px;
}

#song-list-display > li:first-child {
  margin: 0;
}

#song-list-display > li {
  height: 40px;
  margin-top: 30px;
}

#song-list-display > li > * {
  margin-right: 10px;
}

.remove-button {
  padding-left: 76px;
  font-size: 10px;
  display: block;
}

#playlist-thumb {
  float: left;
  height: 40px;
  width: 40px;
}

#playlist-owner > div {
  margin-right: 10px;
  height: 40px;
  width: 40px;
}
