.search {
	width: 100%;
	/*margin: auto;*/
}

#search-wrapper {
	padding: 5px 5px 5px 20px;	
	margin: auto;
	width: 50%;
}

.results-header {

}

.explore-wrapper {
	width: 75%;
	margin: auto;
}

#explore-left {
	float: left;
}

#explore-right {
	float: right;
	/*padding: 0;*/
	width: 400px;
}

.explore > h1 {
	margin-bottom: 10px;
}

#explore-users {
	height: 300px;
	overflow: auto;
	padding: 10px 5px 0 5px;
}


