#song-title {
  font-size: 20px;
}

.songs h3 {
  font-size: 10px;
}

.songs h5 {
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 0;
}


.song-playlist a {
  margin-right: 10px;
  font-weight: bold;
}

.song-playlist {
  margin-bottom: 20px;
}
