#content {
  width: 100%;
  height: 1000px;
  padding-top: 80px;
}

.page-left {
  float: left;
  width: 200px;
  margin-top: 20px;
  margin-right: 90px;
  background: #8e44ad;
  padding: 30px 25px 20px 25px;
  border: 3px solid #8e44ad;
  box-shadow: 2px 2px 2px;
  text-align: center;
}

.page-center {
  display: inline-block;
  width: 700px;
}

.page-right {
  float: right;
  width: 200px;
  margin-top: 20px;
  background: #8e44ad;
  padding: 30px 25px 20px 25px;
  border: 3px solid #8e44ad;
  box-shadow: 2px 2px 2px;
  text-align: center;
}

.content-main {
  height: 100%;
  padding-right: 70px;
  padding-left: 70px;
}

.user-songs {
  background-color: #8e44ad;
  margin-top: 20px;
  border: 2px solid #8e44ad;
  box-shadow: 2px 2px 2px;
  padding: 20px;
}

.user-songs > h3 {
  text-align: center;
  font-size: 30px;
}

.user-blurb {
  border-bottom: 1px solid #000;
}

.user-propic {
  margin: 0 20% 5px 20%;
  border: 1px solid #5A0881;
  padding: 10px;
  border-radius: 4%;
}

.user-playlist-list {
  padding-left: 10px;
  text-align: left;
}

.user-playlist-list > li > .delete-button {
  text-align: left;
}

.user-song-list li {
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #000;
}

.user-song-list li > * {
  margin-right: 20px;
}

.delete-button {
  text-align: left;
  margin: 0;
  padding-left: 90px;
  padding-top: 10px;  
  font-size: 10px;
  width: 100%;
  display: inline-block;
}

.delete-playlist {
  text-align: left;
  margin: 0 0 10px 0;
  padding-left: 35px;
  font-size: 10px;
  width: 100%;
  display: block;
}

.song-thumb {
  height: 50px;
  width: 50px;
  float: left;
  background: #000;
  display: inline-block;
}