<h1> <%= link_to @playlist.user.username, user_url(@playlist.user_id) %>'s Playlist Show Page</h1>
<br>
<h3> <%= @playlist.name %> </h3>

<h4>Belongs to the following playlists:</h4>
<ul>
  <% @playlist.songs.each do |song| %>
    <li>
      <%= link_to song.title, user_song_url(User.find(song.uploader_id), song) %>
    </li>
  <% end %>
</ul>
